<header class="site-header">
  <div class="site-header__container container">
    <a class="site-header__logo" href="/" title="Home">
      @@include('../includes/svgs/logo.html')
    </a>
    <button class="site-header__menu">
      <span class="visually-hidden">Toggle Menu</span>
    </button>
    <nav class="site-header__nav">
      <a class="site-header__link @@if (context.page === 'about'){active}" href="/about-me">About Me</a>
      <a class="site-header__link @@if (context.page === 'platform'){active}" href="/platform">Platform</a>
      <a class="site-header__link @@if (context.page === 'endorsements'){active}" href="/endorsements">Endorsements</a>
      <a class="site-header__link @@if (context.page === 'contact'){active}" href="/contact">Contact</a>
      <a class="site-header__button button" href="#">Donate</a>
    </nav>
  </div>
</header>
