<footer class="site-footer">
  <div class="footer-ctas">
    <div class="footer-ctas__container container">
      <div class="footer-ctas__item">
        <h3 class="footer-ctas__title mark--bottom">About Julia</h3>
        <div class="footer-ctas__text">
          <p>Learn about Julia’s family, career, and education background and why she is running for school board.</p>
        </div>
        <a class="button--small" href="/about-me">More about Julia</a>
      </div>
      <div class="footer-ctas__item">
        <h3 class="footer-ctas__title mark--bottom">Platform</h3>
        <div class="footer-ctas__text">
          <p>Learn about Julia’s platform and how she plans to use her voice to help make changes for our youth, educators, and community. She has provided her initial action steps for each area.</p>
        </div>
        <a class="button--small" href="/platform">Reasons to Vote</a>
      </div>
      <div class="footer-ctas__item">
        <h3 class="footer-ctas__title mark--bottom">Endorsements</h3>
        <div class="footer-ctas__text">
          <p>Read the letters of support and endorsements from community members, colleagues and friends of Julia.</p>
        </div>
        <a class="button--small" href="/endorsements">Letters of Support</a>
      </div>
      <div class="footer-ctas__item">
        <h3 class="footer-ctas__title mark--bottom">Media</h3>
        <div class="footer-ctas__text">
          <p>Julia is reaching out to voters through social media; see her videos here.</p>
        </div>
        <a class="button--small" href="/media">Watch Now</a>
      </div>
    </div>
  </div>
  <div class="footer-credits">
    <div class="footer-credits__container container">
      <a class="footer-credits__logo" href="/" title="Home">
        @@include('../_includes/svgs/logo.html')
      </a>
      <span class="footer-credits__paid-for">Prepared and paid for by Friends of Julia Martens</span>
      <div class="footer-credits__buttons">
        <a class="button--invert" target="_blank" href="https://secure.anedot.com/julia-martens-for-isd-622/donate">Donate</a>
        <a class="button--invert" href="/yard-sign">Yarn Sign</a>
      </div>
      <span class="footer-credits__copyright">Copyright 2020. All rights reserved.</span>
    </div>
  </div>
</footer>
